body {
    background-image: url('https://scontent-mia3-2.xx.fbcdn.net/v/t1.15752-9/330042020_948229969637406_3958854001908844164_n.jpg?stp=dst-jpg_s2048x2048&_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_ohc=uGwjSlHO3vMAX-czaRi&_nc_ht=scontent-mia3-2.xx&oh=03_AdQKdJkRiNxHKlxXfs55zrUr9L-g7oCil4-sxxLx3qn3zw&oe=64DE74F8');
    background-repeat: no-repeat;
    background-size: cover;
  }

Link{
    font-weight: 800;
}

.container {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 2%;
    box-sizing: border-box;
}

.circular-button {
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.full-width-button {
    width: 100%;
    margin: 2% 0 2% 0 !important;
  }
